# Database
DB_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=

# Django
DJANGO_SECRET_KEY=
DJANGO_SETTINGS_MODULE=

# LLM API Keys
OPENAI_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=

# ScrapingBee
SCRAPINGBEE_API_KEY=
SCRAPINGBEE_ENDPOINT="https://app.scrapingbee.com/api/v1/"


# Claw API Token (shared secret between Django and nanoclaw)
CLAW_API_TOKEN=generate-a-secure-token-here


# LangChain, LangGraph, LangSmith
LANGCHAIN_API_KEY=
LANGSMITH_ENDPOINT="https://eu.api.smith.langchain.com"
LANGCHAIN_TRACING_V2=true                                                                                                                                                                
LANGCHAIN_PROJECT=

# Allowlist and blocklist for agent mounts

# if FUZZYCLAW_VOLUME_ALLOWLIST is empty, it can mount anything except blocklist
# FUZZYCLAW_VOLUME_ALLOWLIST=

# if FUZZYCLAW_VOLUME_BLOCKLIST is empty, then '/', '/etc', '/var/run/docker.sock', '/root', '/proc', '/sys', '/dev' are excluded automatically
# FUZZYCLAW_VOLUME_BLOCKLIST=/,/etc,/root,/var/run/docker.sock